
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <h2> {{ form.instance.email }}</h2>

    </div>
              <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
<div class="row justify-content-center">
    <div class="col-4">
    <table>
        <tr><td>
        {% if form.instance.photo %}
            <img class="photo" src="{% static form.instance.photo.url %}" width=150, height=200 border=3>
        {% else %}
            <img class="photo" src="{% static '/images/usernophoto.jpg' %}" width=150, height=200 border=2>
        {% endif %}
        </td></tr>
    </tr>
            <tr><td>
        <input type="file" name="photo" accept="image/*" id="id_photo">
            </td></tr>
        <tr><td>
            <button type="button" name="photo-clear" id="photo-clear_id" class="btn btn-primary">Delete</button>
            </td>
    </table>
      </div>
    <div class="col-7">
                  <div class="card border-dark mb-3">
                      <div class="card-header bg-secondary ">Login information</div>
                        <div class="card-body">
                      <table>
                          <tr>
                              <td>E-Mail:</td>
                              <td>{{ form.instance.email }}</td>
                          </tr>
                          <tr>
                              <td>Password:</td>
                              <td>*******</td>
                          </tr>
                      </table>
                        </div>
                  </div>
                          <div class="card border-dark mb-3">
                              <div class="card-header bg-secondary">Profile information</div>
                              <div class="card-body">
                              <table>
                          <tr>
                              <td>First name:</td>
                              <td>{{ form.instance.first_name }}</td>
                          </tr>
                          <tr>
                              <td>Last name:</td>
                              <td>{{ form.instance.last_name }}</td>
                          </tr>
                          <tr>
                              <td>Country:</td>
                              <td>{{ form.instance.country }}</td>
                          </tr>
                          <tr>
                              <td>About:</td>
                              <td>{{ form.instance.about }}</td>
                          </tr>
                      </table>
                  </div>
                          </div>
                                 <div class="card border-dark mb-3">
                                     <div class="card-header bg-secondary" >Personal Identification Number</div>
                                     <div class="card-body">
                      <table>
                          <tr>
                              <td>PIN:</td>
                              <td width="100%" align="right"><a href="{% url 'pin' form.instance.id %}" class="btn btn-secondary">
                                  {% if form.instance.pincode %}
                                  Reset PIN
                                  {% else %}
                                  Set PIN
                                  {% endif %}
                              </a></td>
                          </tr>
                      </table>
                                     </div>
                                 </div>
                  </div>
            <div>
            <a href="{% url 'home' %}" class="btn btn-primary">Ok</a>
            <a href="{% url 'home' %}" class="btn btn-primary">Cancel</a>
            </div>
        </div>

  </div>

              </form>
{% endblock %}